{% extends 'base.html.twig' %}

{% block body %}
<main>
<h1 class="h1HomePage">Don't know what to watch ?</h1>
    <p>Wild Series is here to help!</p>

    <h2>What's hot ? What others are watching !</h2>
        <a href="{{ path('show_program', { 'slug': "penny-dreadful" }) }}">
            Penny Dreadful
        </a>
    <h2>Have a preferred genre ? Search by category !</h2>
        <a href="{{ path('show_category', { 'categoryName': "Horreur" }) }}">
            Horror
        </a>
        <br>
        <a href="{{ path('wild_index') }}"><h2>Not picky ? See all shows !</h2></a>


    {# Carousel #}
</main>
{% endblock %}