{% extends 'base.html.twig' %}

{% block content %}
    {% if title == null %}
        <h1>Aucune série sélectionnée, veuillez choisir une série</h1>
    {% else %}
        <h1>{{ title }}</h1>
    {% endif %}
{% endblock %}