// assets/css/global.scss

// customize some Bootstrap variables
@import '_vars.scss';

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

html, body {
    height: 100%; //sticky footer
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    a {
        font-family: $text;
        font-size: 16px;
        color: $primary;
    }
}

nav {
    background-color: $primary;
    box-shadow: 2px 2px 2px $tertiary;
    a {
        color: $secondary;
        font-family: $titles;
    }
}

.search {
    margin: 20px auto;
    .search-btn {
        color: $primary;
        background-color: $secondary;
    }
}

main {
    margin: 10px 10px 95px 10px;
    padding: 5px 10px;
    flex: 1 0 auto;
}

h1 {
    font-family: $titles;
    font-size: 40px;
    color: $tertiary;
}

h2 {
    font-family: $titles;
    font-size: 24px;
    color: $primary;
}

p {
    font-family: $text;
    font-size: 16px;
    color: $tertiary;
}

.h1HomePage {
    margin: 5px auto;
    padding: 30px;
    font-size: 60px;
}

.home-title {
    margin: 0 auto;
    p {
        text-align: center;
        margin-bottom: 20px;
    }
}

.indexImg {
    width: 80px;
    height: auto;
}

// Footer
footer {
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    background-color: $tertiary;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .footer-btn {
        margin: 1px;
        padding: 5px;
        height: 80px;
        width: auto;
        color: $secondary;
    }
}